@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #EBD6D7, #F9EBD9);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  text-align: center;
  padding: 15px;
  background: white;
}

.auth-box {
  background: white;
  margin: auto;
  padding: 30px;
  width: 320px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ddd;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #439093;
  color: white;
  font-weight: 500;
}
